@charset "utf-8";
@font-face {
  font-family: heavyrain;
  src: url(./fonts/HeavyRain.ttf);
}

body {
background-color: #ffffff;
}



.welcome{
	
color: #ffffff;
position:absolute;
font-size:45px;
font-family: heavyrain;
top:45%;
left:43%;
	
}

.welcome2{
	
color: #ffffff;
position:absolute;
font-family: heavyrain;
top:54%;
left:44.3%;
	
}
